@import './base.css';

:root {
  --bg-default: #1C2025;
  --bg-component: #293137;
  --bg-btn: #F2CA50;

  --primary: #F5F5F5;
  --secondary: var(--bg-default);
  --ternary: var(--bg-component);
  --quaternary: var(--bg-btn);
  --error: #F33;

  --width: min(1200px, 100%);
  --mt: min(60px, 13vw);
  --size24: min(24px, 5.5vw);
  --size32: min(32px, 8.25vw);
  --size48: min(48px, 11vw);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-default);
}

input {
  border: none;
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#app {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: var(--mt) 0 0;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.title { font-weight: 700; }

.btn {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
